<section>
  <div>
    <p>
      <form>
        <p><input type="text" id="hallucinationTitle" placeholder="title of poem"></input></p>
        <p><textarea id="hallucinationText" placeholder="poem text" rows="10"></textarea></p>
        <p><input type="text" id="hallucinationName" placeholder="writer"></input></p>
        <p><button id="saveButton">save</button></p>
      </form>
    </p>
  </div>
  <div>
    <ul id="hList">
      <li ng-repeat="h in hData | orderBy: '-upvotes'">
        <article>
          <h3>{{h.title}} <button ng-click="upVote(h._id)">upvote +{{h.upvotes}}</button></h3>
          <p class="author" ng-show="h.name">by: {{h.name}}</p>
          <pre>{{h.text}}</pre>
        </article>
      </li>
    </ul>
  </div>
</section>